/* Add CSS Styling */
.l1{
    background-color: lightpink;
    font-family: verdana, "Dejavu sans", sans-serif ;
}

.l2{
    color: blue;
    font-size: 36px;
}

.l1#l3{
    font-size: 24px;
}

.l4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}